name: Check that slow tests are skipped
on:
   - pull_request
   - push

jobs:
  testing:
    strategy:
      fail-fast: false
    runs-on: ubuntu-18.04
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install poetry
        run: pip install poetry
      - name: Install requirements
        run: poetry install
      - name: run unit tests
        run: poetry run test --fail-slow 2
